<%- include partials/head.ejs %>
<main class="detail">
    <a href="/">Back</a>

    <%data.forEach(function(i){%>
        <section>
                </style>
                <img src="<%= i.photo %>" alt="<%= i.title%> ">
                <h2><%=i.title%></h2>
                <p><%=i.description %></p>
                <p><%=i.year%></p>
        </section>

        <section>
            <p>
                Hallo
            </p>
        </section>
    <%})%>
</main>
<%- include partials/tail.ejs %>