<%- include partials/head.ejs %>
<a class="back" href="/">Back</a>
<main class="detail">
        <%data.forEach(function(i){%>
        <section>
                </style>
                <img src="<%= i.photo %>" alt="<%= i.title%> ">
                <h2><%=i.title%></h2>
                <p class="description"><%=i.description %></p>
                <p class="year"><%=i.year%></p>
        </section>
        </section>
    <%})%>
</main>
<%- include partials/tail.ejs %>